/*css初始化*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select,figure { margin:0; padding:0; -webkit-text-size-adjust:none;}
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
select,input,textarea,a,area{ outline:none; }
body {font:14px/16px "微软雅黑","Lucida Sans Unicode", "Lucida Grande", sans-serif;min-width:1200px;background:#fff;}
html{height: 100%;}
.fl{float: left;}
.fr{float: right;}
/*    功  能  栏   */
#top{position:relative;min-height:100%;overflow:hidden;height:74px;background: url("../images/index/banner.jpg") repeat-x center;}
#top .intop{margin-left: 20px;margin-top: 10px;color: white;}
#top .intop .intopicon li {float: left;}
#top .intop .intopicon .utopp{margin-left: 18px}
#top .intop .intopicon .intopicon-icon{margin-left: 16px}
#top .intop .intopicon li .bg1{width: 50px;color: white;margin-top: 2px;font-size: 14px;margin-left: 5px}
#top .intop .intopicon li img{width: 38px;height: 37px;cursor: pointer;}
#top .intop .intopicon li .pp{margin-left: -2px}

#top .intop .profile-box {float:right;margin-top: 10px;margin-right: 20px;}
#top .intop .btn-on {background:url(../images/index/sprite.png) no-repeat -230px -5px;width:35px;height:39px;overflow:hidden;text-indent:-9999px;float:left;margin:0 0 0 7px;}
#top .intop .profile-box .profile {float:left;border:1px solid #dde2e8;background:#fff; height:37px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#top .intop .profile-box .profile .image {float:left;margin:2px 12px 0 0;}
#top .intop .profile-box .text-box {float:left;overflow:hidden;color:#a0a0a0;font-size:10px;line-height:12px;}
#top .intop .profile-box .section {padding:4px 33px 0 7px;float:left;}
#top .intop .profile-box a.section {cursor:pointer;}
#top .intop .profile-box .name {display:block;font-size:12px;line-height:15px;color:#4f5f6f;font-weight:normal;}
#top .intop .profile-box .opener {float:left;background:url(../images/index/sprite.png) no-repeat -39px -58px;width:32px;height:37px;overflow:hidden;text-indent:-9999px;border-left:1px solid #dde2e8;}
#top .intop .profile-box a{outline-style:none;color:#535353;}
#top .intop .profile-box a:hover{color:#D40000;text-decoration:none}
.clear{height:0;overflow:hidden;clear:both}
/*    拨  号  盘   */
/* calcuator */
#calcuator{width:200px;height:280px;padding:10px;border:1px solid #e5e5e5;background:#f8f8f8;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;box-shadow:0px 0px 10px #f2f2f2;-moz-box-shadow:0px 0px 10px #f2f2f2;-webkit-box-shadow:0px 0px 10px #f2f2f2;margin:40px auto 0 auto;}
#calcuator #input-box{margin:0;width:187px;padding:6px 5px;height:14px;border:1px solid #e5e5e5;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;background:#FFF;text-align:left;line-height:14px;font-size:12px;font-family:Verdana, Geneva, sans-serif;color:#666;outline:none; text-transform:uppercase;}
#calcuator #btn-list{width:200px;overflow:hidden;}
#calcuator #btn-list .btn-radius{border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;border:1px solid #e5e5e5;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f7f7f7), to(#ebebeb));background:-moz-linear-gradient(top, #f7f7f7,#ebebeb);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f7f7f7,endColorstr=#ebebeb,grandientType=1);line-height:29px;text-align:center;text-shadow:0px 1px 1px #FFF;font-weight:bold;font-family:Verdana, Geneva, sans-serif;color:#666;float:left;margin-left:11px;margin-top:11px;font-size:12px;cursor:pointer;}
#calcuator #btn-list .btn-radius:active{background:#ffffff;}
#calcuator #btn-list .clear-marginleft{margin-left:0;}
#calcuator #btn-list .font-14{font-size:14px;}
#calcuator #btn-list .color-red{color:#ff5050}
#calcuator #btn-list .color-blue{color:#00b4ff}
#calcuator #btn-list .btn-30{width:29px;height:29px;}
#calcuator #btn-list .btn-70{width:70px;height:29px;}
#calcuator #btn-list .btn-7070{width:70px;height:70px; float: right;line-height: 70px;}
#calcuator select{margin:6px 0 4px;width:198px;height:26px;outline:none;border:1px solid #e5e5e5;}