/*css初始化*/
body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; }
em { font-style:normal; }
li { list-style:none; }
a { text-decoration:none; }
img { border:none; vertical-align:top; }
select,input,textarea,a,area{ outline:none; }
textarea { resize:none; overflow:auto; }
body {font-family:"微软雅黑";background-color: #FFFFFF;height: 1000px;font-size:18px;}
.fl{float: left;}
.fr{float: right;}

#top{min-width: 1200px;margin: 0 auto;}
#top .intop{width:1200px;height:100px;margin: 0 auto;background-color: #FFFFFF;}
#top .intop .logo img{margin: 12px 0 0 10px;}
#top .intop .city{margin:68px 32px 0 0;}
#top .intop .city a{text-align: center;color: #585858;font-size: 16px;padding-left:10px;}
#top .intop .city a:hover{text-decoration: underline;}

#content{min-width: 1200px;margin: 0 auto;background-image: url("../images/login/content.jpg");}
#content .incontent{width:1220px;height:710px;margin: 0 auto;background: url("../images/login/ban.png") no-repeat;}
#content .incontent .ban{width: 340px;height: 460px;background-color: #b7d9ed; position: relative;top: 100px;left: 730px;z-index:2;border: 1px solid #1479c1;
    opacity: 0.8;
    -moz-border-radius: 8px; /* Firefox */
    -webkit-border-radius: 8px; /* Safari 和 Chrome */
    border-radius: 8px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    behavior: url(css/ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
   }
#content .incontent .ban .ban-top{margin-top:10px;}
#content .incontent .ban .ban-top p{font-size:20px; margin-right: 226px;margin-top: 10px;letter-spacing: 2px;color: #2e2d2d;}
#content .incontent .ban .ban-top hr{width:290px;}
#content .incontent .ban  .ban-content{width:320px;height:390px;padding-left: 24px;font-size: 18px;color: #2e2d2d;position: relative;}
#content .incontent .ban  .ban-content select{width:288px;height: 34px;margin: 4px 0 12px;border: 2px solid #7ba2d3;font-size:16px;
    -moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px; /* Safari 和 Chrome */
    border-radius: 6px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    behavior: url(css/ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
}
#content .incontent .ban  .ban-content input,button{width:246px;height: 30px;border: 2px solid #7ba2d3;margin: 2px 0 8px;line-height: 30px;
    -moz-border-radius: 6px; /* Firefox */
    -webkit-border-radius: 6px; /* Safari 和 Chrome */
    border-radius: 6px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
    behavior: url(css/ie-css3.htc); /* 通知IE浏览器调用脚本作用于'box'类 */
}
#content .incontent .ban  .ban-content input{padding-left: 36px;}
#content .incontent .ban  .ban-content button{width:278px;margin-top: 16px;height: 38px;letter-spacing:10px;font-size: 22px;color: #FFFFFF;border: 2px solid #aa6601;cursor: pointer;
    /*按钮背景渐变*/
    background: #000000;
    background: -moz-linear-gradient(top,  #faa82b 0%, #ea8e03 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faa82b), color-stop(100%,#ea8e03));
    background: -webkit-linear-gradient(top,  #faa82b 0%,#ea8e03 100%);
    background: -o-linear-gradient(top,  #faa82b 0%,#ea8e03 100%);
    background: -ms-linear-gradient(top,  #faa82b 0%,#ea8e03 100%);
    background: linear-gradient(to bottom,  #faa82b 0%,#ea8e03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faa82b', endColorstr='#ea8e03',GradientType=0 );
}
:root button{filter:none;}
#content .incontent .ban  .ban-content .icon-man img{width: 24px;height: 24px;position: absolute;top: 80px;left: 32px;}
#content .incontent .ban  .ban-content .icon-user img{width: 24px;height: 24px;position: absolute;top: 149px;left: 32px;}
#content .incontent .ban  .ban-content .icon-password img{width: 24px;height: 24px;position: absolute;top: 217px;left: 32px;}
#content .incontent .ban  .ban-content .icon-key img{width: 24px;height: 24px;position: absolute;top: 285px;left: 32px;}
#content .incontent .ban  .ban-content .mycode img{display: block;float: right;width: 107px;padding:4px 40px 0 0;}
#content .incontent .ban  .ban-content .kapkey{width:120px;float: left;display: block;}
#content .incontent .ban  .ban-content .yanz{display: block;}

#footer{min-width: 1200px;margin: 0 auto;background-color: #f5f5f5;}
#footer .infooter{width:1200px;height:140px;margin: 0 auto;}
#footer .infooter .logo-footer{height:94px;width: 210px;margin-top:22px;margin-left: 40px; }
#footer .infooter .footer-text{margin-left:390px;display: block;width: 590px;padding-top: 40px;}
#footer .infooter .footer-text a{text-decoration: underline;padding-left: 50px;color: #747272;font-size: 16px;}
#footer .infooter .footer-text p{padding-top: 14px;font-size: 14px;color: #cccccc;}
#footer .infooter .footer-text .center{padding-left: 66px;margin-top: -12px;}
#footer .infooter .foot{margin-top: -50px;margin-right: 80px;}








